@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color:  #121212;
  --text-color: #333;
  --secondary-color: #9333ea;

  --main-color: #754ef9;
  --white-color: #f8f9fa;
  --shadow-color: rgba(0, 0, 0, .2);
  --header-height: 10vh; /* Hauteur du header */
  --footer-height: 5vh; /* Hauteur du footer */
}

*::selection {
  background: var(--main-color);
  color: var(--bg-color);
}

.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .7);
}
a:focus, button:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}

html {
  font-size: 62.5%;
  overflow: hidden; /* Empêcher le défilement */
}

body {
  /* background: var(--bg-color); */
  color: var(--text-color);
  height: 100vh; /* Hauteur fixe pour le corps */
  overflow: hidden; /* Empêcher le défilement */
}

.home {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  /* z-index: 2222; */
    height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 7rem 7% 2rem;
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .3;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: .3rem;
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  transition: .5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
.profession-icon {
  font-size: 2.5rem;
  /* color: #007bff; */
  margin-bottom: 0.5rem;
}
.home .profession-container {
  position: absolute;
  top:50%;
  /* left: 0; */
  transform: translateY(-50%);
  width: 100dvw;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
  0%, 20% {
    transform: rotate(0deg);
  }
  25%, 45% {
    transform: rotate(-90deg);
  }
  50%, 70% {
    transform: rotate(-180deg);
  }
  75%, 95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: var(--proffession-container-bg);
  transition: background-color 2.3s, color 0.3s;

  padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  z-index: -1;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 50vh solid var(--main-color);
  border-left: 384px solid transparent;
}
.home-img.loading {
  min-height: 300px;
}

.home-img{
  right:0;
}
.home-img img {
  z-index:3;
  position: absolute;
  bottom: 0;
  right: 0px;
  pointer-events: none;
  max-width: 480px;
  max-height: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;

}
.image-skeleton-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  overflow: hidden;
}
.pulse-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(99, 102, 241, 0.2),
    rgba(255, 255, 255, 0)
  );
  animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.home-img.loaded .image-skeleton-loader {
  display: none;
}
span {
  color: var(--main-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home .profession-container .profession-box {
    right: -10%;
  }

  .home .profession-container .overlay {
    right: -6%;
  }

  .home-img img {
    right: 0px;
  }
}

@media (max-width: 1100px)  and (min-width: 991px){
  .home .profession-container .profession-box {
    right: -10%;
  }

  .home-img img {
    max-width: 420px;
  }
}

@media (max-width: 1024px) {
  

  .home-img img {
    max-width: 400px;
    right: 0px !important;

  } 
}
@media (max-width: 1050px) and (min-width: 991px) {
  .home .profession-container {
    
    width: 100vw;
  }
  .home-img img {
    right: 0px ;
}
  /* .home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 468px;
    height: 468px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
  } */
  .home .profession-container .profession-box {
    right: -18%;
}

  .home .profession-container .overlay {
    right: -22%;
  }
}
@media (max-width: 991px) and (min-width: 860px) {
  .home .profession-container .profession-box {
    right: -35%;
    
  }

  .home .profession-container .overlay {
    right: -30%;
  }
  .home .profession-box .profession {
    background: linear-gradient(to right, transparent 20%,var(--proffession-container-bg) 50%, transparent 100%); /* Dégradé linéaire */

    /* background: linear-gradient(to right, transparent,var(--proffession-container-bg), transparent); Dégradé linéaire */
    
  }
  .home-img  img {
    right: 16% !important ;
    z-index : 0;
}
  
  
}
@media (max-width: 860px) {
  .home-img img {
    display: none;
   

  }
}
@media (max-width: 896px) {
  .home .profession-container .profession-box {
    right: -50%;
  }

  .home .profession-container .overlay {
    right: -43%;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 0 3% 10rem;
    justify-content: center;
    text-align: center;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content .social-media a {
    margin: 2.5rem .75rem 2rem;
  }

  .home .profession-container {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .profession-container .profession-box {
    position: fixed;
    top: 520px;
    left: 0;
    width: 100%;
  }

  .home .profession-box .profession {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -325px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -325px);
  }

  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }

  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-61%, 48%) scaleY(3);
    border-width: 23.9rem;
    
}
}


@media (max-width: 550px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 1rem;
    height: auto; /* Permet au contenu de s'étendre */
    /* overflow-y: auto; Permet le défilement vertical */
  }


  .home-content {
    margin-bottom: 2rem;
  }

  .home .profession-container {
    position: relative;
    width: 110%;
    height: 550px;
  }

  .home .profession-box .circle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .home .profession-container .profession-box {
    position: fixed;
    top: 380px;
    left: 0;
    width: 100%;
  }

  .home .profession-box .profession {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -325px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -325px);
  }

  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }

  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-85%, 50%) scaleY(3);
    border-width: 23.9rem;
   
}


  
}
@media (min-width: 450px) and (max-width: 550px) {
  
 .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -230px);
    
}

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -355px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-130px, -501px);
   
}

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-241px, -357px);
    
}

  .home .profession-box .circle {
    position: fixed;
    width: 703px;
    height: 703px;
    z-index: -1;
  }

}
@media (min-width: 550px) and (max-width: 768px) {
.home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-69%, 48%) scaleY(3);
    z-index:-3;
   
}
.home .profession-box .profession {
  
  color: var(--main-color);
  
  background: transparent;
  
}
  
  .home .profession-box .circle {
    position: fixed;
    width: 500px;
    height: 500px;
    z-index: -1;
  }


   .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -151px);
    
}

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -274px);
    
}

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-123px, -422px);
    
}

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-245px, -282px);
   
}
}
@media (max-width: 450px) {
  .home {
    padding: 15px 2% 10rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: auto; /* Permet au contenu de s'étendre */
    /* overflow-y: auto; */
  }

  .home-content h3 {
    font-size: 2rem; /* Réduction de la taille de la police */
  }

  .home-content h1 {
    font-size: 4rem; /* Réduction de la taille de la police */
  }

  .home-content .social-media a {
    margin: 2rem 0.5rem 2.5rem;
    width: 3rem; /* Réduction de la taille des icônes */
    height: 3rem;
    font-size: 1.5rem;
  }

  .home .profession-container {
    left: 0;
    width: 105%;
    height: auto; /* Ajustement pour permettre le défilement */
    position: absolute;
  }

  .home .profession-container .profession-box {
    position: relative;
    top: auto;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home .profession-container {
    position: relative;
    width: 110%;
    height: 550px;
  }

  .home .profession-box .circle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .home .profession-container .profession-box {
    position: fixed;
    top: 355px;
    left: 0;
    width: 100%;
  }

  .home .profession-box .profession {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-136px, -200px);
   
}

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(10px, -325px);
   
}

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-122px, -465px);
    
}

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-246px, -329px);
    
}

  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }

  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-79%, 49%) scaleY(3);
    border-width: 23.9rem;
  }


  
}
@media (max-width: 390px){
 .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -340px);
   
}

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-135px, -480px);
   
}

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-236px, -343px);
    
}}