:root {
  /* Variables de couleurs */
  --bg-color: #121212;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
  --nav-bg: #2a2e35;
  
  /* Variables de dimensions */
  --header-height: 10vh;
  --footer-height: 5vh;
  --navbar-width: 80px;
  --horizontal-nav-height: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    /* background-color: #333; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.875rem;
  }

@media (max-width: 650px) {
.footer{
  display: none;
  position: absolute;
  z-index: 1;

}


}