.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    /* background-color: #333; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.875rem;
  }