@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
  /* Variables de couleurs */
  --bg-color: #121212;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
  --nav-bg: #2a2e35;
  
  /* Variables de dimensions */
  --header-height: 10vh;
  --footer-height: 5vh;
  --navbar-width: 80px;
  --horizontal-nav-height: 60px;
}

/* Container principal */
.main-container {
  display: flex;
  flex: 1;
  /* max-height: calc(100vh - var(--header-height) - var(--footer-height)); */
  top: var(--header-height);
  bottom: var(--footer-height);
  position: relative;
  /* background-color: red; */
}

/* Contenu de la page */
.page-content {
  flex: 1;
  width: calc(100% - var(--navbar-width));
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

/* Navbar verticale */
.navbar {
  width: var(--navbar-width);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Style spécifique pour la page Home */
.main-container.home-layout {
  flex-direction: column;
  overflow: hidden; /* Désactiver le scroll sur la page Home */
  
}
.main-container.other-page {
  max-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: hidden; 
}
.main-container.home-layout .navbar-home {
  position: absolute;
  top: var(--header-height);
  right: 1rem;
  width: auto;
  z-index: 100;
}

.main-container.home-layout .page-content {
  width: 100%;
}

/* Media Queries */
@media (max-width: 1024px) {
  .navbar {
    width: var(--navbar-width);
  }

  .page-content {
    width: calc(100% - var(--navbar-width));
    overflow-y:auto;
    overflow-x:hidden
  }
}

@media (max-width: 768px) {
  .main-container {
    margin-bottom: calc(var(--horizontal-nav-height) + 100px);
  }

  .navbar {
    display: none;
  }

  .page-content {
    overflow-y: auto;
  overflow-x: hidden;
    width: 100%;
  }
  .main-container.home-layout {
    flex-direction: column;
    overflow: hidden; /* Désactiver le scroll sur la page Home */
    height: auto !important;
  }
  .main-container.other-page {
    max-height: calc(100vh - var(--footer-height) - 70px);
  }

  /* Ajoutez cet espace sous la navbar mobile */
  /* Pour la structure générale de l'application */
  .page-container,
  .layout-container,
  .main-content {
    padding-top: 20px; /* Ajustez cette valeur selon vos besoins */
  }
  
  /* Spécifiquement pour les en-têtes des pages */
  .about-header,
  .projects-header,
  .skills-header,
  .contact-header {
    margin-top: 15px;
  }
}

/* Si la navbar est fixe et que vous avez besoin de plus d'espace */
@media (max-width: 768px) {
  .horizontal-navbar + div,
  .mobile-nav + div {
    margin-top: 25px;
  }
  .main-container {
    padding-bottom: calc(var(--horizontal-nav-height) + 100px);
  }

}

@media (max-width: 550px) {
  .page-content {
    padding: 0.5rem;
  }

  .nav-circle {
    width: 40px;
    height: 40px;
  }

  .nav-icon {
    font-size: 1.2rem;
  }
}